.content {
  padding-top: 8%;
  background:none;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  padding-left: 14%;
  padding-right:14%;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  background:url("./background3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }