.holder {
  background: transparent;
  border-radius: 2px;
  height: 18%;
  margin: 1rem;
  position: relative;
  width: 23%;
}

.holder > .img-container {
  height: 85%;
  overflow: hidden;
  text-align: center;
  background:transparent;
}
.holder > .img-container > img {
  width: 30%
}